# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.pytest_cache/
reports/

# Ruff
.ruff_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv/

# mypy
.mypy_cache/


# PyCharm
.idea/

# Autogen
.cache/
tmp/teachable_agent_db/
chroma.sqlite3

# App-specific folders
resume/
!resume/.gitkeep
jd/
!jd/.gitkeep
cover_letters/
!cover_letters/.gitkeep

.deepeval
.deepeval-cache.json
